---
services:
  seerr:
    container_name: {{ seerr_docker_name }}
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    environment:
      LOG_LEVEL: debug
      TZ: {{ debian_datetime_timezone }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/seerr/config:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3