# @format

# Uptime Kuma
# Install and configure the Uptime Kuma monitoring server.
---
- name: Ensure uptime-kuma user is present
  become: true
  block:
    - name: Ensure uptime-kuma group is present
      ansible.builtin.group:
        name: "{{ uptime_kuma_user_name }}"
        gid: "{{ uptime_kuma_user_id }}"
        system: true
        state: present

    - name: Ensure uptime-kuma user is present
      ansible.builtin.user:
        name: "{{ uptime_kuma_user_name }}"
        group: "{{ uptime_kuma_user_name }}"
        password: "*"
        shell: "{{ uptime_kuma_user_shell }}"
        create_home: false
        uid: "{{ uptime_kuma_user_id }}"
        state: present

- name: Setup uptime Kuma application files
  become: true
  block:
    - name: Ensure application directory is present
      ansible.builtin.file:
        path: "{{ docker_project_src }}"
        owner: "{{ uptime_kuma_user_name }}"
        group: "{{ uptime_kuma_user_name }}"
        mode: "0750"
        state: directory

    - name: Setup docker-compose file
      ansible.builtin.template:
        src: templates/app.docker-compose.yaml
        dest: "{{ docker_project_src }}/docker-compose.yaml"
        owner: "{{ uptime_kuma_user_name }}"
        group: "{{ uptime_kuma_user_name }}"
        mode: "0640"

- name: Install and configure nginx
  vars:
    debian_common_task_list:
      - nginx
    nginx_tls_domains:
      - "{{ ansible_host }}"
  ansible.builtin.include_role:
    name: debian-common

- name: Get latest scrutiny container release from github
  become: false
  community.general.github_release:
    user: louislam
    repo: uptime-kuma
    action: latest_release
  delegate_to: localhost
  register: kuma_github_release

- name: Fix application docker image versionings in fact
  ansible.builtin.set_fact:
    kuma_latest_version: "v{{ kuma_latest_version }}"

- name: Start uptime kuma docker containers
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ docker_project_name }}"
    project_src: "{{ docker_project_src }}"
    state: present

- name: Set version file
  become: true
  ansible.builtin.template:
    src: templates/app.VERSION
    dest: "{{ docker_project_src }}/VERSION"
    owner: "{{ uptime_kuma_user_name }}"
    group: "{{ uptime_kuma_user_name }}"
    mode: "0640"
