# @format

# Ollama
# Get current and latest versions of the Ollama applications
---
- name: Get application current and latest versions
  become: true
  block:
    - name: Get latest containers releases from github
      become: false
      community.general.github_release:
        user: "{{ item.docker_user }}"
        repo: "{{ item.docker_repo }}"
        action: latest_release
      delegate_to: localhost
      register: github_release

    - name: Extract latest containers versions
      ansible.builtin.set_fact:
        "{{ item.name }}_latest_version": "{{ github_release.tag }}" # noqa: var-naming[no-jinja]
