# @format

# Ollama
# Get current and latest versions of the Ollama applications
---
- name: Get application latest versions
  become: true
  when: "'current' in versions_list"
  block:
    - name: Get current version file
      ansible.builtin.slurp:
        src: "{{ item.version_file_location }}"
      register: version_file

    - name: Extract version information
      ansible.builtin.set_fact:
        "{{ item.name }}_image_version": "{{ version_file['content'] | b64decode | trim }}"

- name: Get application latest versions
  become: true
  when: "'latest' in versions_list"
  block:
    - name: Get latest containers releases from github
      become: false
      community.general.github_release:
        user: "{{ item.docker_user }}"
        repo: "{{ item.docker_repo }}"
        action: latest_release
      delegate_to: localhost
      register: github_release

    - name: Extract latest containers versions
      ansible.builtin.set_fact:
        "{{ item.name }}_latest_version": "{{ github_release.tag }}" # noqa: var-naming[no-jinja]
