# @format
---
- name: Gather facts
  ansible.builtin.setup:
    gather_subset:
      - virtualization_type
      - mounts

- name: Setup common Debian 13 configurations
  become: true
  block:
    - name: Install and configure time synchronisation
      notify:
        - Restart chrony service
      when: ansible_facts["virtualization_type"] != "lxc"
      block:
        - name: Ensure chrony is installed
          ansible.builtin.apt:
            name: chrony
            update_cache: true
            state: present

        - name: "Set timezone to {{ debian_datetime_timezone }}"
          community.general.timezone:
            hwclock: "{{ debian_datetime_hardware_clock }}"
            name: "{{ debian_datetime_timezone }}"

        - name: Remove default NTP pool
          ansible.builtin.lineinfile:
            path: /etc/chrony/chrony.conf
            line: '# \g<1>'
            regexp: "^(pool .*)"
            backrefs: true
            state: present

        - name: Set NTP server
          ansible.builtin.lineinfile:
            path: /etc/chrony/chrony.conf
            line: "server {{ debian_datetime_ntp_server }} iburst"
            insertafter: "^# pool .*"

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Update apt sources and packages
      block:
        - name: Set debian sources
          ansible.builtin.template:
            src: templates/debian.sources
            dest: /etc/apt/sources.list.d/debian.sources
            mode: "0644"

        - name: Set debian backports sources
          ansible.builtin.template:
            src: templates/debian-backports.sources
            dest: /etc/apt/sources.list.d/debian-backports.sources
            mode: "0644"

        - name: Remove old debian sources
          ansible.builtin.file:
            path: /etc/apt/sources.list
            state: absent

        - name: Update apt cache, upgrade packages and remove unused dependencies
          ansible.builtin.apt:
            update_cache: true
            upgrade: dist
            autoremove: true
            purge: true

    - name: Harden SSH server
      ansible.builtin.copy:
        src: files/ssh_hardening.conf
        dest: /etc/ssh/sshd_config.d/ssh_hardening.conf
        mode: "0644"
      notify: Restart ssh service

    - name: Install unattended-upgrades
      ansible.builtin.apt:
        name: unattended-upgrades
        update_cache: true
        state: present

    - name: Create default VM user with SSH public key
      block:
        - name: Set root password
          ansible.builtin.user:
            name: root
            password: "{{ debian_root_password }}"

        - name: "Create group: {{ debian_user_name }}"
          ansible.builtin.group:
            name: "{{ debian_user_name }}"
            state: present

        - name: "Create user: {{ debian_user_name }}"
          ansible.builtin.user:
            name: "{{ debian_user_name }}"
            group: "{{ debian_user_name }}"
            groups:
              - sudo
            password: "{{ debian_user_password }}"
            shell: "{{ debian_user_shell }}"
            comment: "{{ debian_user_name }}"
            create_home: true
            state: present

        - name: "Add SSH authorised key for user: {{ debian_user_name }}"
          ansible.posix.authorized_key:
            user: "{{ debian_user_name }}"
            key: "{{ debian_user_ssh_public_key }}"
            state: present

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Ensure additional disks are mounted
      when: debian_additional_disks is defined
      block:
        - name: Ensure mount paths exist
          ansible.builtin.file:
            path: "{{ item.value.mount_point }}"
            owner: "{{ debian_user_name }}"
            group: "{{ debian_user_name }}"
            mode: "0755"
            state: directory
          loop: "{{ debian_additional_disks | dict2items }}"

        - name: Ensure additional disks fstab entries are present
          ansible.posix.mount:
            src: UUID={{ item.value.uuid }}
            path: "{{ item.value.mount_point }}"
            fstype: ext4
            opts: defaults
            state: mounted
          loop: "{{ debian_additional_disks | dict2items }}"

    - name: Install and configure Prometheus node exporter
      block:
        - name: Install Prometheus node exporter
          ansible.builtin.import_role:
            name: prometheus.prometheus.node_exporter
          vars:
            node_exporter_version: latest

        - name: Configure NGINX for node exporter
          vars:
            debian_common_task_list:
              - nginx
            nginx_tls_domains:
              - "{{ ansible_host }}"
            nginx_conf_files:
              - filename: node-exporter.conf
                path: templates/nginx.node_exporter.conf
          ansible.builtin.import_role:
            name: debian-common
