services:
  influxdb:
    container_name: influxdb
    image: influxdb:2.2
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/scrutiny/influxdb2:/var/lib/influxdb2
    user: {{ scrutiny_user_id }}:{{ scrutiny_user_id }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
      interval: 2s
      timeout: 20s

  scrutiny:
    container_name: {{ scrutiny_docker_name }}
    image: ghcr.io/starosdev/scrutiny:latest-web
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/scrutiny/config:/opt/scrutiny/config
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/scrutiny/logs:/opt/scrutiny/logs
    ports:
      - 8080:8080
    user: {{ scrutiny_user_id }}:{{ scrutiny_user_id }}
    depends_on:
      - influxdb
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/health"]
      interval: 2s
      timeout: 20s
      start_period: 10s