---
services:
  collector:
    container_name: {{ scrutiny_spoke_docker_name }}
    image: ghcr.io/starosdev/scrutiny:latest-collector
    environment:
      COLLECTOR_API_ENDPOINT: "{{ scrutiny_spoke_collector_api_endpoint }}"
      COLLECTOR_HOST_ID: "{{ scrutiny_spoke_collector_host_id }}"
      COLLECTOR_CRON_SCHEDULE: "{{ scrutiny_spoke_collector_cron }}"
    volumes:
      - /run/udev:/run/udev:ro
    cap_add:
{{ "      - SYS_RAWIO" if scrutiny_spoke_enable_scsi is defined }}
{{ "      - SYS_ADMIN" if scrutiny_spoke_enable_nvme is defined }}
    devices: {{ scrutiny_spoke_devices }}
    restart: unless-stopped
{{ "    network_mode: host" if scrutiny_spoke_host_mode is defined }}

  collector-zfs:
    container_name: {{ scrutiny_spoke_docker_name }}-zfs
    image: ghcr.io/starosdev/scrutiny:latest-collector-zfs
    environment:
      COLLECTOR_API_ENDPOINT: "{{ scrutiny_spoke_collector_api_endpoint }}"
      COLLECTOR_HOST_ID: "{{ scrutiny_spoke_collector_host_id }}"
      COLLECTOR_CRON_SCHEDULE: "{{ scrutiny_spoke_collector_cron }}"
    volumes:
      - /run/udev:/run/udev:ro
    devices: ['/dev/zfs:/dev/zfs']
    restart: unless-stopped
{{ "    network_mode: host" if scrutiny_spoke_host_mode is defined }}