---
services:
  prowlarr:
    container_name: {{ prowlarr_docker_name }}
    image: lscr.io/linuxserver/prowlarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ prowlarr_media_group_gid }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  flaresolverr:
    container_name: {{ flaresolverr_docker_name }}
    image: ghcr.io/flaresolverr/flaresolverr:latest
    environment:
      TZ: {{ debian_datetime_timezone }}
    restart: unless-stopped

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: prowlarr-main
      POSTGRES_USER: prowlarr
      POSTGRES_PASSWORD: {{ prowlarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/prowlarr/db:/var/lib/postgresql/data
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER -d prowlarr-main"]
      interval: 2s
      timeout: 20s
