services:
  miniflux:
    container_name: {{ miniflux_docker_name }}
    image: miniflux/miniflux:latest
    environment:
      DATABASE_URL: user=miniflux password={{ miniflux_postgres_pass }} dbname=miniflux host=postgres sslmode=disable
      BASE_URL: https://{{ ansible_host }}
      RUN_MIGRATIONS: 1
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "/usr/bin/miniflux", "-healthcheck", "auto"]
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: miniflux
      POSTGRES_USER: miniflux
      POSTGRES_PASSWORD: {{ miniflux_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/miniflux/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 2s
      timeout: 20s
    user: {{ miniflux_user_id }}:{{ miniflux_user_id }}
    restart: unless-stopped
