# @format

# Ntfy
# Install and configure the Ntfy notifications service.
---
- name: Ensure Ntfy user is present
  become: true
  block:
    - name: Ensure Ntfy group is present
      ansible.builtin.group:
        name: "{{ ntfy_user_name }}"
        gid: "{{ ntfy_user_id }}"
        system: true
        state: present

    - name: Ensure Ntfy user is present
      ansible.builtin.user:
        name: "{{ ntfy_user_name }}"
        group: "{{ ntfy_user_name }}"
        password: "*"
        shell: "{{ ntfy_user_shell }}"
        create_home: false
        uid: "{{ ntfy_user_id }}"
        state: present

- name: Setup Ntfy application files
  become: true
  block:
    - name: Ensure Ntfy directory is present
      ansible.builtin.file:
        path: "{{ docker_project_src }}"
        owner: "{{ ntfy_user_name }}"
        group: "{{ ntfy_user_name }}"
        mode: "0750"
        state: directory

    - name: Setup docker-compose file
      ansible.builtin.template:
        src: templates/app.docker-compose.yaml
        dest: "{{ docker_project_src }}/docker-compose.yaml"
        owner: "{{ ntfy_user_name }}"
        group: "{{ ntfy_user_name }}"
        mode: "0640"

    - name: Setup ntfy configuration file
      ansible.builtin.template:
        src: templates/app.configuration.yml
        dest: '{{ debian_additional_disks["appdata"]["mount_point"] }}/ntfy/config/server.yml'
        owner: "{{ ntfy_user_name }}"
        group: "{{ ntfy_user_name }}"
        mode: "0640"

- name: Setup Fail2Ban
  become: true
  block:
    - name: Install Fail2Ban
      ansible.builtin.apt:
        name: fail2ban
        update_cache: true
        state: present

    - name: Add nginx fail2ban filter
      ansible.builtin.copy:
        src: files/fail2ban.filter.nginx.conf
        dest: /etc/fail2ban/filter.d/nginx-req-limit.conf
        owner: root
        group: root
        mode: "0644"

    - name: Add nginx fail2ban jail
      ansible.builtin.copy:
        src: files/fail2ban.jail.nginx.conf
        dest: /etc/fail2ban/jail.d/nginx-req-limit.conf
        owner: root
        group: root
        mode: "0644"

    - name: Configure sshd jail (addresses upstream bug)
      ansible.builtin.lineinfile:
        path: /etc/fail2ban/jail.conf
        line: "backend = systemd"
        regexp: "^backend = .*sshd.*"
        state: present

    - name: Restart fail2ban
      ansible.builtin.systemd_service:
        name: fail2ban.service
        state: restarted

- name: Install and configure nginx
  vars:
    debian_common_task_list:
      - nginx
    nginx_tls_domains:
      - "{{ ansible_host }}"
  ansible.builtin.include_role:
    name: debian-common

- name: Get latest ntfy container release from github
  become: false
  community.general.github_release:
    user: binwiederhier
    repo: ntfy
    action: latest_release
  delegate_to: localhost
  register: ntfy_github_release

- name: Extract latest ntfy container version
  ansible.builtin.set_fact:
    ntfy_latest_version: "{{ ntfy_github_release.tag }}"

- name: Start ntfy docker containers
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ docker_project_name }}"
    project_src: "{{ docker_project_src }}"
    state: present
  register: docker_containers_started

- name: Set version file
  become: true
  ansible.builtin.template:
    src: templates/app.VERSION
    dest: "{{ docker_project_src }}/VERSION"
    owner: "{{ ntfy_user_name }}"
    group: "{{ ntfy_user_name }}"
    mode: "0640"
  when: docker_containers_started.changed
