# @format

# Ntfy
# Install and configure the Ntfy notifications service.
---
- name: Gather prometheus facts
  hosts: prometheus
  tasks:
    - name: Get prometheus IP address
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

- name: Install and configure Ntfy notifications service
  hosts: ntfy

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  roles:
    - role: debian-13-setup
      tags: install
    - role: debian-common
      tags: install
      vars:
        debian_common_task_list:
          - docker

  tasks:
    - name: Install and configure Ntfy notifications service
      ansible.builtin.import_tasks: install.yaml
      tags: install

    - name: Upgrade Ntfy notifications service
      ansible.builtin.import_tasks: upgrade.yaml
      tags: upgrade
