---
services:
  jellyseerr:
    container_name: {{ jellyseerr_docker_name }}
    image: fallenbagel/jellyseerr:latest
    environment:
      LOG_LEVEL: debug
      TZ: {{ debian_datetime_timezone }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/jellyseerr/config:/app/config
    ports:
      - 5055:5055
    user: {{ jellyseerr_user_id }}:{{ jellyseerr_user_id }}
    restart: unless-stopped