services:
  ntfy:
    container_name: {{ ntfy_docker_name }}
    image: binwiederhier/ntfy:latest
    command:
      - serve
    environment:
      TZ: {{ debian_datetime_timezone }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/ntfy/cache:/var/cache/ntfy
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/ntfy/data:/var/lib/ntfy
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/ntfy/config:/etc/ntfy
    ports:
      - "8080:80"
      - "25:25"
    healthcheck:
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    user: {{ ntfy_user_id }}:{{ ntfy_user_id }}
    restart: unless-stopped