# Local development directories
.vagrant
dev-inventory
Vagrantfile
playbooks/workshop
inventories/host_vars/ansible_lxc
inventories/host_vars/ansible_vm

# Vscode configuration
.vscode

# MacOS files
.DS_Store

# Ansible files
.ansible/