services:
  radarr:
    container_name: {{ radarr_docker_name }}
    image: lscr.io/linuxserver/radarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ nfs_mounts.marilyn.mount_point }}:/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/radarr/config:/config
    ports:
      - "7878:7878"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  radarr4k:
    container_name: {{ radarr_docker_name }}4k
    image: lscr.io/linuxserver/radarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ nfs_mounts.marilyn.mount_point }}:/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/radarr4k/config:/config
    ports:
      - "7879:7878"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  radarr-anime:
    container_name: {{ radarr_docker_name }}-anime
    image: lscr.io/linuxserver/radarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ nfs_mounts.marilyn.mount_point }}:/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/radarr-anime/config:/config
    ports:
      - "7880:7878"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  recyclarr:
    container_name: {{ recyclarr_docker_name }}
    image: ghcr.io/recyclarr/recyclarr:latest
    environment:
      TZ: {{ debian_datetime_timezone }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/recyclarr/config:/config
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    depends_on:
      - radarr
      - radarr4k
      - radarr-anime

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: radarr-main
      POSTGRES_USER: radarr
      POSTGRES_PASSWORD: {{ radarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/radarr/db:/var/lib/postgresql/data
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER -d radarr-main"]
      interval: 2s
      timeout: 20s