services:
  nextcloud:
    container_name: {{ nextcloud_docker_name }}
    image: nextcloud:stable-fpm
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: nextcloud
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: '{{ nextcloud_postgres_pass }}'

      REDIS_HOST: redis

      NEXTCLOUD_DATA_DIR: /srv/nextcloud/data
      NEXTCLOUD_TRUSTED_DOMAINS: {{ ansible_host }}

      SMTP_HOST: {{ nextcloud_smtp_host }}
      SMTP_SECURE: {{ nextcloud_smtp_secure }}
      SMTP_PORT: {{ nextcloud_smtp_port }}
      SMTP_AUTHTYPE: {{ nextcloud_smtp_auth }}
      SMTP_NAME: {{ nextcloud_smtp_username }}
      SMTP_PASSWORD: {{ nextcloud_smtp_proton_token }}
      MAIL_FROM_ADDRESS: {{ nextcloud_smtp_from_address }}
      MAIL_DOMAIN: {{ nextcloud_smtp_mail_domain }}

      PHP_UPLOAD_LIMIT: 10G
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/nextcloud/config:/var/www/html
      - {{ nfs_mounts.wendy.mount_point }}/nextcloud/data:/srv/nextcloud/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/nextcloud/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini
    ports:
      - "9000:9000"
    networks:
      nextcloud:
        ipv4_address: "172.18.0.2"
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      clamav:
        condition: service_healthy
      collabora:
        condition: service_started

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: '{{ nextcloud_postgres_pass }}'
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/db:/var/lib/postgresql/data
    networks:
      nextcloud:
        ipv4_address: "172.18.0.3"
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      timeout: 20s

  redis:
    container_name: redis
    image: redis:alpine
    restart: unless-stopped
    networks:
      nextcloud:
        ipv4_address: "172.18.0.4"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s

  clamav:
    container_name: clamav
    image: clamav/clamav:stable_base
    entrypoint: /init-unprivileged
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/clamav:/var/lib/clamav
    networks:
      nextcloud:
        ipv4_address: "172.18.0.5"
    user: clamav:{{ nfs_user_id }}
    restart: unless-stopped

  collabora:
    container_name: collabora
    image: collabora/code:latest
    environment:
      aliasgroup1: https://{{ ansible_host }}
      username: {{ nextcloud_collabora_admin_username }}
      password: {{ nextcloud_collabora_admin_pass }}
    ports:
      - "9980:9980"
    networks:
      nextcloud:
        ipv4_address: "172.18.0.6"
    restart: unless-stopped

networks:
  nextcloud:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
          gateway: "172.18.0.1"
