# @format

# Wallos
# Configure & manage Wallos subscription management server.
---
- name: Configure & manage Wallos subscription management server
  hosts: wallos

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  roles:
    - role: debian-13-setup
      tags: install
    - role: debian-common
      tags: install
      vars:
        debian_common_task_list:
          - docker

  tasks:
    - name: Install and configure Wallos subscription management server
      ansible.builtin.import_tasks: install.yaml
      tags: install

    - name: Upgrade Wallos subscription management server
      ansible.builtin.import_tasks: upgrade.yaml
      become: true
      tags: upgrade
