# @format

# Wallos
# Upgrade Wallos subscription management server.
---
- name: Check if wallos requires update
  become: true
  block:
    - name: Get current wallos container version
      ansible.builtin.import_role:
        name: docker
        public: false
      vars:
        docker_task_list: get_container_image_version
        docker_container_name: "{{ wallos_docker_name }}"
        docker_fact_name: wallos

    - name: Get latest wallos container release from github
      become: false
      community.general.github_release:
        user: ellite
        repo: Wallos
        action: latest_release
      delegate_to: localhost
      register: wallos_github_release

    - name: Extract latest wallos container version
      ansible.builtin.set_fact:
        wallos_latest_version: "{{ wallos_github_release.tag }}"

    - name: Fix application docker image versionings in fact
      ansible.builtin.set_fact:
        wallos_image_version: "v{{ wallos_image_version}}"

    - name: Stop play if wallos has no updates
      ansible.builtin.meta: end_play
      when: wallos_image_version == wallos_latest_version

- name: Take snapshot of Proxmox instance
  ansible.builtin.import_role:
    name: proxmox
    public: false
  vars:
    proxmox_task_list: snapshot
    proxmox_snapshot_name: "{{ 'pre_upgrade_wallos_' + (wallos_latest_version | regex_replace('[.]', '-')) }}"
    proxmox_snapshot_description: "[Ansible] Working snapshot of wallos {{ wallos_image_version }} before upgrading to {{ wallos_latest_version }}"
  delegate_to: localhost

- name: Ensure docker-compose file is updated
  become: true
  ansible.builtin.template:
    src: templates/app.docker-compose.yaml
    dest: "{{ docker_project_src }}/docker-compose.yaml"
    owner: "{{ wallos_user_name }}"
    group: "{{ wallos_user_name }}"
    mode: "0640"

- name: Upgrade wallos monitoring tool
  become: true
  block:
    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Update & start wallos docker containers
      become: true
      community.docker.docker_compose_v2:
        project_name: "{{ docker_project_name }}"
        project_src: "{{ docker_project_src }}"
        remove_orphans: true
        pull: always
        state: present

    - name: Prune unused docker objects
      community.docker.docker_prune:
        builder_cache_all: true
        containers: true
        images: true
        networks: true
        volumes: true
