# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.20.1

# User
debian_user_name: melodee
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAefJPHQibt5vwoyZvRQje/criUNtilTzA5/aQTC5uf7 melodee@spotify.tinynamoo.com"

your_spotify_user_name: your-spotify
your_spotify_user_id: 217
your_spotify_user_shell: /usr/sbin/nologin

## NGINX variables
nginx_conf_files:
  - filename: your-spotify.conf
    path: templates/nginx.your-spotify.conf
  - filename: your-spotify-api.conf
    path: templates/nginx.your-spotify-api.conf

## Your-Spotify variables
your_spotify_api_hostname: spotifyapi.tinynamoo.com
your_spotify_public_token: 45603d7c85c34913bd4d2c9788aaa4a7

your_spotify_api_docker_name: your-spotify-api

## Proxmox variables
proxmox_snapshot_vmid: 20117
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: your-spotify
docker_project_src: /opt/your-spotify
