# @format

# Network Attached Storage
# Install and configure the Network Attached Storage server.
---
- name: Install and the Network Attached Storage server
  hosts: nas

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  handlers:
    - name: Import handlers
      ansible.builtin.import_tasks: handlers/main.yaml

  roles:
    - role: debian-13-setup
      tags: install

  tasks:
    - name: Install and configure the Network Attached Storage server
      ansible.builtin.import_tasks: install.yaml
      tags: install
