# @format

# Scrutiny
# Configure & manage Scrutiny SMART monitoring server.
---
- name: Configure & manage Scrutiny SMART monitoring server
  hosts: scrutiny

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  roles:
    - role: debian-13-setup
      tags: install
    - role: debian-common
      tags: install
      vars:
        debian_common_task_list:
          - docker

  tasks:
    - name: Install and configure the Scrutiny SMART monitoring server
      ansible.builtin.import_tasks: install.yaml
      tags: install

- name: Deploy and configure the Scrutiny spokes (Linux)
  hosts: scrutiny_spokes

  tasks:
    - name: Deploy and configure the Scrutiny spokes
      ansible.builtin.import_tasks: deploy.yaml
      tags: deploy

- name: Deploy and configure the Scrutiny spokes (Opnsense)
  hosts: opnsense

  handlers:
    - name: Import handlers
      ansible.builtin.import_tasks: handlers/main.yaml

  tasks:
    - name: Deploy and configure the Scrutiny spokes (Opnsense)
      ansible.builtin.import_tasks: deploy-opnsense.yaml
      tags: deploy-opnsense
