# @format

# Scrutiny
# Upgrade the Scrutiny spokes (Opnsense)
---
- name: Get scrutiny spokes current version
  become: true
  block:
    - name: Get scrutiny version file
      ansible.builtin.slurp:
        src: "{{ scrutiny_spoke_project_src }}/VERSION"
      register: version_file

    - name: Extract version information
      ansible.builtin.set_fact:
        scrutiny_spoke_image_version: "{{ version_file['content'] | b64decode }}"

- name: Check if scrutiny requires update
  become: true
  block:
    - name: Get latest scrutiny container release from github
      become: false
      community.general.github_release:
        user: "{{ scrutiny_github_user }}"
        repo: "{{ scrutiny_github_repo }}"
        action: latest_release
      delegate_to: localhost
      register: scrutiny_github_release

    - name: Extract latest scrutiny container version
      ansible.builtin.set_fact:
        scrutiny_latest_release: "{{ scrutiny_github_release.tag }}"

    - name: Stop play if scrutiny has no updates
      ansible.builtin.meta: end_play
      when: scrutiny_spoke_image_version == scrutiny_latest_release

- name: Upgrade scrutiny spoke
  become: true
  block:
    - name: Ensure scrutiny spoke configuration file is updated
      ansible.builtin.template:
        src: templates/spoke.collector.yaml
        dest: "{{ scrutiny_spoke_project_src }}/config/collector.yaml"
        owner: root
        group: wheel
        mode: "0644"

    - name: Fetch scrutiny spoke binaries
      ansible.builtin.get_url:
        url: https://github.com/{{ scrutiny_github_user }}/{{ scrutiny_github_repo }}/releases/download/{{ scrutiny_latest_release }}/scrutiny-collector-{{ item }}-freebsd-amd64 # noqa: yaml[line-length]
        dest: "{{ scrutiny_spoke_project_src }}/bin/scrutiny-collector-{{ item }}-freebsd-amd64"
        owner: root
        group: wheel
        force: true
        mode: "0755"
      loop:
        - metrics
        - zfs

    - name: Update version file
      ansible.builtin.template:
        src: templates/app.VERSION
        dest: "{{ scrutiny_spoke_project_src }}/VERSION"
        owner: root
        group: wheel
        mode: "0644"
