# @format

# Scrutiny
# Upgrade scrutiny SMART monitoring server
---
- name: Check if scrutiny requires update
  become: true
  block:
    - name: Get scrutiny version file
      ansible.builtin.slurp:
        src: "{{ docker_project_src }}/VERSION"
      register: version_file

    - name: Extract version information
      ansible.builtin.set_fact:
        scrutiny_image_version: "{{ version_file['content'] | b64decode | trim }}"

    - name: Get latest scrutiny container release from github
      become: false
      community.general.github_release:
        user: Starosdev
        repo: scrutiny
        action: latest_release
      delegate_to: localhost
      register: scrutiny_github_release

    - name: Extract latest scrutiny container version
      ansible.builtin.set_fact:
        scrutiny_latest_version: "{{ scrutiny_github_release.tag }}"

    - name: Stop play if scrutiny has no updates
      ansible.builtin.meta: end_play
      when: scrutiny_image_version == scrutiny_latest_version

- name: Take snapshot of Proxmox instance
  ansible.builtin.import_role:
    name: proxmox
    public: false
  vars:
    proxmox_task_list: snapshot
    proxmox_snapshot_name: "{{ 'pre_upgrade_scrutiny_' + (scrutiny_image_version | regex_replace('[.]', '-')) }}"
    proxmox_snapshot_description: "[Ansible] Working snapshot of scrutiny {{ scrutiny_image_version }} before upgrading to {{ scrutiny_latest_version }}"
  delegate_to: localhost

- name: Upgrade scrutiny SMART monitoring server
  become: true
  block:
    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Update & start scrutiny container
      become: true
      community.docker.docker_compose_v2:
        project_name: "{{ docker_project_name }}"
        project_src: "{{ docker_project_src }}"
        remove_orphans: true
        pull: always
        state: present

    - name: Prune unused docker objects
      community.docker.docker_prune:
        builder_cache_all: true
        containers: true
        images: true
        networks: true
        volumes: true

    - name: Update version file
      ansible.builtin.template:
        src: templates/app.VERSION
        dest: "{{ docker_project_src }}/VERSION"
        owner: root
        group: root
        mode: "0640"
