# @format

# Your-Spotify
# Configure & manage Your-Spotify statistics server.
---
- name: Configure & manage Your-Spotify statistics server
  hosts: your_spotify

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  roles:
    - role: debian-13-setup
      tags: install
    - role: debian-common
      tags: install
      vars:
        debian_common_task_list:
          - docker

  tasks:
    - name: Install and configure the Your-Spotify statistics management server
      ansible.builtin.import_tasks: install.yaml
      tags: install

    - name: Upgrade the Your-Spotify statistics management server
      ansible.builtin.import_tasks: upgrade.yaml
      tags: upgrade
