# @format

# Your-Spotify
# Upgrade the Your-Spotify statistics management server
---
- name: Check if your-spotify requires update
  become: true
  block:
    - name: Get current your-spotify container version
      ansible.builtin.import_role:
        name: docker
        public: false
      vars:
        docker_task_list: get_container_image_version
        docker_container_name: "{{ your_spotify_api_docker_name }}"
        docker_fact_name: your_spotify

    - name: Get latest your-spotify container release from github
      become: false
      community.general.github_release:
        user: Yooooomi
        repo: your_spotify
        action: latest_release
      delegate_to: localhost
      register: your_spotify_github_release

    - name: Extract latest your-spotify container version
      ansible.builtin.set_fact:
        your_spotify_latest_version: "{{ your_spotify_github_release.tag }}"

    - name: Stop play if your-spotify has no updates
      ansible.builtin.meta: end_play
      when: your_spotify_image_version == your_spotify_latest_version

- name: Take snapshot of Proxmox instance
  ansible.builtin.import_role:
    name: proxmox
    public: false
  vars:
    proxmox_task_list: snapshot
    proxmox_snapshot_name: "{{ 'pre_upgrade_' + (your_spotify_image_version | regex_replace('[.]', '-')) }}"
    proxmox_snapshot_description: "[Ansible] Working snapshot of your-spotify {{ your_spotify_image_version }} before upgrading to {{ your_spotify_latest_version }}"
  delegate_to: localhost

- name: Upgrade the Your-Spotify statistics management server
  become: true
  block:
    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Update & start your-spotify docker containers
      become: true
      community.docker.docker_compose_v2:
        project_name: "{{ docker_project_name }}"
        project_src: "{{ docker_project_src }}"
        remove_orphans: true
        pull: always
        state: present

    - name: Prune unused docker objects
      community.docker.docker_prune:
        builder_cache_all: true
        containers: true
        images: true
        networks: true
        volumes: true
