services:
  uptime-kuma:
    container_name: {{ uptime_kuma_docker_name }}
    image: louislam/uptime-kuma:2
    environment:
      PUID: {{ uptime_kuma_user_id }}
      PGID: {{ uptime_kuma_user_id }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/uptime-kuma/data:/app/data
    ports:
      - 3001:3001
    restart: unless-stopped
