# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.20.1

# User
debian_user_name: hanni
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO0ifHhaZ9X916D5ACA8uRl27HMyHIkcbBbHlfLGC1+b hanni@tinynamoo.com"

homarr_user_name: homarr
homarr_user_id: 140
homarr_user_shell: /usr/sbin/nologin

## NGINX variables
nginx_conf_files:
  - filename: homarr.conf
    path: templates/nginx.homarr.conf

## Homarr variables
jellyseerr_hostname: media.tinynamoo.com

homarr_docker_name: homarr
homarr_image_version: v1.45.2

## Proxmox variables
proxmox_snapshot_vmid: 20030
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: homarr
docker_project_src: /opt/homarr
