# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.17.1

# User
debian_user_name: rainbow
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID6UG07TkAmCqX+P1GaYdY5psF7QWm36LxISOcC/R4Z6 rainbow@movies.tinynamoo.com"

## NFSv4-client-setup variables
# Kerberos
nfs_krb5_host_keytab_file: "/mnt/veracrypt2/Kerberos Keytabs/[Rainbow] Radarr/host.keytab"
nfs_krb5_user_keytab_file: "/mnt/veracrypt2/Kerberos Keytabs/[Rainbow] Radarr/user.keytab"

# NFS
nfs_user_name: "{{ nfs_clients['radarr'].name }}"
nfs_user_id: "{{ nfs_clients['radarr'].uid }}"
nfs_mounts:
  marilyn:
    mount_share: /marilyn
    mount_point: /srv/marilyn

## NGINX variables
nginx_conf_files:
  - filename: radarr.conf
    path: templates/nginx.radarr.conf
  - filename: radarr4k.conf
    path: templates/nginx.radarr4k.conf
  - filename: radarr-anime.conf
    path: templates/nginx.radarr-anime.conf

## Radarr variables
radarr_4k_hostname: movies4k.tinynamoo.com
radarr_anime_hostname: anime.tinynamoo.com
radarr_media_group_name: "{{ nfs_groups['media'].name }}"
radarr_media_group_gid: "{{ nfs_groups['media'].gid }}"

radarr_docker_name: radarr

## Proxmox variables
proxmox_snapshot_vmid: 17115
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: radarr
docker_project_src: /opt/radarr
