# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.10.1

# User
debian_user_name: karina
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBd8Ox99XaQTMdam4so5UmeojzT8BWDD0fxSeMAN+BMJ karina@push.tinynamoo.com"

## NGINX variables
nginx_conf_files:
  - filename: ntfy.conf
    path: templates/nginx.ntfy.conf

## Ntfy variables
ntfy_user_name: ntfy
ntfy_user_id: 270
ntfy_user_shell: /usr/sbin/nologin

ntfy_smtp_server: smtp.tinynamoo.com
ntfy_smtp_from_email: sunny@mail.tinynamoo.com

ntfy_docker_name: ntfy
ntfy_image_version: v2.14.0

## Proxmox instance variables
proxmox_snapshot_vmid: 14160
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: ntfy
docker_project_src: /opt/ntfy
