services:
  server:
    container_name: {{ your_spotify_api_docker_name }}
    image: yooooomi/your_spotify_server:latest
    environment:
      TIMEZONE: {{ debian_datetime_timezone }}

      API_ENDPOINT: https://{{ your_spotify_api_hostname }}
      CLIENT_ENDPOINT: https://{{ ansible_host }}

      SPOTIFY_PUBLIC: {{ your_spotify_public_token }}
      SPOTIFY_SECRET: {{ your_spotify_private_secret }}

      MONGO_ENDPOINT: mongodb://mongodb:27017/your_spotify

      CORS: https://{{ ansible_host }}
    ports:
      - "8080:8080"
    restart: unless-stopped
    links:
      - mongodb
    depends_on:
      - mongodb
    user: {{ your_spotify_user_id }}:{{ your_spotify_user_id }}

  web:
    container_name: your-spotify-web
    image: yooooomi/your_spotify_client
    environment:
      API_ENDPOINT: https://{{ your_spotify_api_hostname }}
    ports:
      - "3000:3000"
    restart: unless-stopped

  mongodb:
    container_name: mongodb
    image: mongo:6
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/your-spotify/db:/data/db
    restart: unless-stopped
    user: {{ your_spotify_user_id }}:{{ your_spotify_user_id }}
