# @format

# Karakeep
# Install and configure the Karakeep bookmarking service.
---
- name: Install and configure the Karakeep bookmarking service
  hosts: karakeep

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  roles:
    - role: debian-13-setup
      tags: install
    - role: debian-common
      tags: install
      vars:
        debian_common_task_list:
          - docker

  tasks:
    - name: Install and configure Karakeep bookmarking service
      ansible.builtin.import_tasks: install.yaml
      tags: install

    - name: Upgrade Karakeep bookmarking service
      ansible.builtin.import_tasks: upgrade.yaml
      tags: upgrade
