# @format

# Debian LXC template
# Generate a Debian LXC template
---
- name: Generate a Debian LXC template.
  hosts: ansible_vm
  become: true
  tags: always

  vars:
    debian_architecture:
      {
        "armv6l": "armhf",
        "armv7l": "armhf",
        "aarch64": "arm64",
        "x86_64": "amd64",
        "i386": "i386",
      }

  pre_tasks:
    - name: Include playbook configuration
      ansible.builtin.include_vars: "{{ item }}"
      with_fileglob:
        - "{{ playbook_dir }}/config.yaml"

    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - architecture
          - distribution_release
          - distribution_version

  tasks:
    - name: Add proxmox repository key
      ansible.builtin.get_url:
        url: https://enterprise.proxmox.com/debian/proxmox-release-trixie.gpg
        dest: /etc/apt/trusted.gpg.d/proxmox-release-trixie.gpg
        checksum: sha512:8678f2327c49276615288d7ca11e7d296bc8a2b96946fe565a9c81e533f9b15a5dbbad210a0ad5cd46d361ff1d3c4bac55844bc296beefa4f88b86e44e69fa51
        owner: root
        group: root
        mode: "0644"

    - name: Add proxmox repository
      ansible.builtin.template:
        src: templates/pve-install-repo.list
        dest: /etc/apt/sources.list.d/pve-install-repo.list
        owner: root
        group: root
        mode: "0644"

    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Ensure dab & lxc-templates is installed
      ansible.builtin.apt:
        name:
          - dab
          - lxc-templates
        update_cache: true
        state: present

    - name: Create temporary image generation directory
      ansible.builtin.file:
        path: ~/debian-{{ ansible_facts["distribution_version"] }}-minimal
        owner: root
        group: root
        mode: "0644"
        state: directory

    - name: Create dab configuration file
      ansible.builtin.template:
        src: templates/dab.conf
        dest: ~/debian-{{ ansible_facts["distribution_version"] }}-minimal/dab.conf
        owner: root
        group: root
        mode: "0644"

    - name: Create dab makefile
      ansible.builtin.template:
        src: templates/Makefile
        dest: ~/debian-{{ ansible_facts["distribution_version"] }}-minimal/Makefile
        owner: root
        group: root
        mode: "0644"

    - name: Generate LXC template
      community.general.make:
        chdir: ~/debian-{{ ansible_facts["distribution_version"] }}-minimal

    - name: Retrieve generated LXC template
      ansible.builtin.fetch:
        src: '~/debian-{{ ansible_facts["distribution_version"] }}-minimal/debian-{{ ansible_facts["distribution_major_version"] }}-minimal_{{ ansible_facts["distribution_version"] }}_{{ debian_architecture[ansible_facts["architecture"]] }}.tar.gz'
        dest: "{{ lxc_template_save_directory }}"
        flat: true

    - name: Clean makefile directory
      community.general.make:
        chdir: ~/debian-{{ ansible_facts["distribution_version"] }}-minimal
        target: clean
