---
services:
  qbittorrent:
    container_name: {{ qbittorrent_docker_name }}
    image: lscr.io/linuxserver/qbittorrent:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_groups['media'].gid }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/qbittorrent/config:/config
      - {{ nfs_mounts.marilyn.mount_point }}/torrents:/data/torrents
    ports:
      - 8080:8080
    networks:
      qbit:
        ipv4_address: "172.18.0.2"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -f http://localhost:8080/api/v2/app/version"]
      interval: 2s
      timeout: 30s

  cross-seed:
    container_name: {{ cross_seed_docker_name }}
    image: ghcr.io/cross-seed/cross-seed:latest
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/cross-seed/config:/config
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/qbittorrent/config/qBittorrent/BT_backup:/torrents:ro
      - {{ nfs_mounts.marilyn.mount_point }}/torrents/cross-seed-torrents:/cross-seeds
      - {{ nfs_mounts.marilyn.mount_point }}/torrents:/data/torrents
    command: daemon
    networks:
      qbit:
        ipv4_address: "172.18.0.3"
    user: {{ nfs_user_id }}:{{ nfs_groups['media'].gid }}
    restart: unless-stopped
    depends_on:
      qbittorrent:
        condition: service_started

  qbit-manage:
    container_name: {{ qbit_manage_docker_name }}
    image: ghcr.io/stuffanthings/qbit_manage:latest
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/qbit-manage/config.yaml:/app/config.yml
      - {{ nfs_mounts.marilyn.mount_point }}/torrents:/data/torrents
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/qbittorrent/config/qBittorrent:/qbittorrent/:ro
    environment:
      QBT_RUN: false
      QBT_SCHEDULE: 1440
      QBT_CONFIG: config.yml
      QBT_LOGFILE: activity.log
      QBT_LOG_LEVEL: INFO
    networks:
      qbit:
        ipv4_address: "172.18.0.4"
    restart: unless-stopped
    depends_on:
      qbittorrent:
        condition: service_started

networks:
  qbit:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
          gateway: "172.18.0.1"