[Unit]
Description=NAT-PMP Updater for qBittorrent
After=network.target

[Service]
Type=simple
ExecStart={{ docker_project_src }}/qbittorrent-natpmpc-updater.sh
Restart=always

[Install]
WantedBy=multi-user.target
