# @format

# Jellyfin
# Configure & manage Jellyfin media streaming server.
---
- name: Gather prometheus facts
  hosts: prometheus
  tasks:
    - name: Get prometheus IP address
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

- name: Configure & manage Jellyfin media streaming server
  hosts: jellyfin

  pre_tasks:
    - name: Gather facts
      ansible.builtin.setup:
        gather_subset:
          - default_ipv4
      tags: always

  handlers:
    - name: Import handlers
      ansible.builtin.import_tasks: handlers/main.yaml

  roles:
    - role: debian-13-setup
      tags: install
    - role: nfsv4-client-setup
      tags: install
    - role: debian-common
      tags: install
      vars:
        debian_common_task_list:
          - docker

  tasks:
    - name: Install and configure the Jellyfin media streaming server
      ansible.builtin.import_tasks: install.yaml
      tags: install

    - name: Upgrade Jellyfin media streaming server
      ansible.builtin.import_tasks: upgrade.yaml
      tags: upgrade
