# @format

# Jellyfin
# Upgrade Jellyfin media streaming server
---
- name: Get container current and latest versions
  ansible.builtin.include_tasks: get-versions.yaml

- name: Check if applications have updates
  block:
    - name: Fix jellyfin docker image versionings in fact
      ansible.builtin.set_fact:
        jellyfin_image_version: "v{{ jellyfin_image_version }}"

    - name: Check if applications have updates
      ansible.builtin.set_fact:
        jellyfin_has_updates: "{{ jellyfin_image_version != jellyfin_latest_version }}"
        jellystat_has_updates: "{{ jellystat_image_version != jellystat_latest_version }}"

    - name: Stop play if applications have no updates
      ansible.builtin.meta: end_play
      when: "(not jellyfin_has_updates) and (not jellystat_has_updates)"

- name: Take snapshot of Proxmox instance
  ansible.builtin.import_role:
    name: proxmox
    public: false
  vars:
    proxmox_task_list: snapshot
    proxmox_snapshot_name: "{{ 'pre_upgrade_' + (jellyfin_image_version | regex_replace('[.]', '-')) + '_' + (jellystat_image_version | regex_replace('[.]', '-')) }}"
    proxmox_snapshot_description: |
      [Ansible] Working snapshot of jellyfin & jellystat

      Current:
        jellyfin: {{ jellyfin_image_version }}
        jellystat: {{ jellystat_image_version }}

      New:
        jellyfin: {{ jellyfin_latest_version }}
        jellystat: {{ jellystat_latest_version }}
  delegate_to: localhost

- name: Upgrade Jellyfin media streaming server
  become: true
  block:
    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Ensure docker compose file is updated
      ansible.builtin.template:
        src: templates/app.docker-compose.yaml
        dest: "{{ docker_project_src }}/docker-compose.yaml"
        owner: "{{ nfs_user_name }}"
        group: "{{ nfs_user_name }}"
        mode: "0640"

    - name: Update & start docker containers
      become: true
      community.docker.docker_compose_v2:
        project_name: "{{ docker_project_name }}"
        project_src: "{{ docker_project_src }}"
        remove_orphans: true
        services: "{{ item.services }}"
        pull: always
        state: present
      loop:
        - services: "{{ jellyfin_docker_name }}"
          condition: "{{ jellyfin_has_updates }}"
        - services:
            - "{{ jellystat_docker_name }}"
            - postgres
          condition: "{{ jellystat_has_updates }}"
      when: item.condition

    - name: Prune unused docker objects
      community.docker.docker_prune:
        builder_cache_all: true
        containers: true
        images: true
        networks: true
        volumes: true
