services:
  bazarr:
    container_name: {{ bazarr_docker_name }}
    image: lscr.io/linuxserver/bazarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007

      POSTGRES_ENABLED: true
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DATABASE: bazarr
      POSTGRES_USERNAME: bazarr
      POSTGRES_PASSWORD: {{ bazarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/bazarr/config:/config
      - {{ nfs_mounts["marilyn-configs-bazarr"].mount_point }}/backups:/data/backups
      - {{ nfs_mounts["marilyn-media"].mount_point }}/movies:/data/movies
      - {{ nfs_mounts["marilyn-media"].mount_point }}/tv:/data/tv
    ports:
      - "6767:6767"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  bazarr4k:
    container_name: bazarr4k
    image: lscr.io/linuxserver/bazarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007

      POSTGRES_ENABLED: true
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DATABASE: bazarr4k
      POSTGRES_USERNAME: bazarr
      POSTGRES_PASSWORD: {{ bazarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/bazarr4k/config:/config
      - {{ nfs_mounts["marilyn-configs-bazarr4k"].mount_point }}/backups:/data/backups
      - {{ nfs_mounts["marilyn-media"].mount_point }}/movies4k:/data/movies4k
      - {{ nfs_mounts["marilyn-media"].mount_point }}/tv4k:/data/tv4k
    ports:
      - "6768:6767"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  bazarr-anime:
    container_name: bazarr-anime
    image: lscr.io/linuxserver/bazarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007

      POSTGRES_ENABLED: true
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DATABASE: bazarr-anime
      POSTGRES_USERNAME: bazarr
      POSTGRES_PASSWORD: {{ bazarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/bazarr-anime/config:/config
      - {{ nfs_mounts["marilyn-configs-bazarr-anime"].mount_point }}/backups:/data/backups
      - {{ nfs_mounts["marilyn-media"].mount_point }}/anime:/data/anime
      - {{ nfs_mounts["marilyn-media"].mount_point }}/animetv:/data/animetv
    ports:
      - "6769:6767"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: bazarr
      POSTGRES_USER: bazarr
      POSTGRES_PASSWORD: {{ bazarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/bazarr/db:/var/lib/postgresql/data
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      timeout: 20s
