# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.20.1

# User
debian_user_name: florence
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAXAyyxa9wKW4ZfozxEk+A32+n4ZLv5QuT9FJvDJcutM florence@feed.tinynamoo.com"

miniflux_user_name: miniflux
miniflux_user_id: 250
miniflux_user_shell: /usr/sbin/nologin

## NGINX variables
nginx_conf_files:
  - filename: miniflux.conf
    path: templates/nginx.miniflux.conf

## Miniflux variables
miniflux_docker_name: miniflux

## Proxmox variables
proxmox_snapshot_vmid: 20150
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: miniflux
docker_project_src: /opt/miniflux
