# @format

# Mat2-web
# Install and configure Mat2-web metadata removal tool
---
- name: Ensure mat2-web user is present
  become: true
  block:
    - name: Ensure mat2-web group is present
      ansible.builtin.group:
        name: "{{ mat2_web_user_name }}"
        gid: "{{ mat2_web_user_id }}"
        system: true
        state: present

    - name: Ensure mat2-web user is present
      ansible.builtin.user:
        name: "{{ mat2_web_user_name }}"
        group: "{{ mat2_web_user_name }}"
        password: "*"
        shell: "{{ mat2_web_user_shell }}"
        create_home: false
        uid: "{{ mat2_web_user_id }}"
        state: present

- name: Create application directory
  become: true
  ansible.builtin.file:
    path: "{{ docker_project_src }}"
    owner: "{{ mat2_web_user_name }}"
    group: "{{ mat2_web_user_name }}"
    mode: "0640"
    state: directory

- name: Setup mat2-web docker compose file
  become: true
  ansible.builtin.template:
    src: templates/app.docker-compose.yaml
    dest: "{{ docker_project_src }}/docker-compose.yaml"
    owner: "{{ mat2_web_user_name }}"
    group: "{{ mat2_web_user_name }}"
    mode: "0640"

- name: Setup mat2-web seccomp file
  become: true
  ansible.builtin.copy:
    src: files/app.seccomp.json
    dest: "{{ docker_project_src }}/seccomp.json"
    owner: "{{ mat2_web_user_name }}"
    group: "{{ mat2_web_user_name }}"
    mode: "0640"

- name: Install and configure nginx
  vars:
    debian_common_task_list:
      - nginx
    nginx_tls_domains:
      - "{{ ansible_host }}"
  ansible.builtin.include_role:
    name: debian-common

- name: Start mat2-web docker containers
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ docker_project_name }}"
    project_src: "{{ docker_project_src }}"
    state: present
