# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.20.1

# User
debian_user_name: twyla
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEulGGxOvUZV2Po2aUFZLOZpYbcdsy+uMkkL3Ldkvbqq twyla@tube.tinynamoo.com"

piped_user_name: piped
piped_user_id: 204
piped_user_shell: /usr/sbin/nologin

## NGINX variables
nginx_conf_files:
  - filename: piped-frontend.conf
    path: templates/nginx.piped-frontend.conf
  - filename: piped-backend.conf
    path: templates/nginx.piped-backend.conf
  - filename: piped-proxy.conf
    path: templates/nginx.piped-proxy.conf

## Piped variables
piped_backend_hostname: tubeapi.tinynamoo.com
piped_frontend_hostname: tube.tinynamoo.com
piped_proxy_hostname: tubeproxy.tinynamoo.com

piped_docker_name: piped

## Docker variables
docker_project_name: piped
docker_project_src: /opt/piped

## Proxmox variables
proxmox_snapshot_vmid: 20200
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false
