# @format

# IT-Tools
# Install and configure IT-Tools developers tools collection.
---
- name: Ensure it-tools user is present
  become: true
  block:
    - name: Ensure it-tools group is present
      ansible.builtin.group:
        name: "{{ it_tools_user_name }}"
        gid: "{{ it_tools_user_id }}"
        system: true
        state: present

    - name: Ensure it-tools user is present
      ansible.builtin.user:
        name: "{{ it_tools_user_name }}"
        group: "{{ it_tools_user_name }}"
        password: "*"
        shell: "{{ it_tools_user_shell }}"
        create_home: false
        uid: "{{ it_tools_user_id }}"
        state: present

- name: Create application directory
  become: true
  ansible.builtin.file:
    path: "{{ docker_project_src }}"
    owner: "{{ it_tools_user_name }}"
    group: "{{ it_tools_user_name }}"
    mode: "0640"
    state: directory

- name: Setup IT-Tools docker compose file
  become: true
  ansible.builtin.template:
    src: templates/app.docker-compose.yaml
    dest: "{{ docker_project_src }}/docker-compose.yaml"
    owner: "{{ it_tools_user_name }}"
    group: "{{ it_tools_user_name }}"
    mode: "0640"

- name: Install and configure nginx
  vars:
    debian_common_task_list:
      - nginx
    nginx_tls_domains:
      - "{{ ansible_host }}"
  ansible.builtin.include_role:
    name: debian-common

- name: Start IT-Tools docker containers
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ docker_project_name }}"
    project_src: "{{ docker_project_src }}"
    state: present
