# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.20.1

# User
debian_user_name: sana
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMPaSbA11SgZYlWJbeNl1niswr8o7nlfW+zfxHvj7n7a sana@subs.tinynamoo.com"

wallos_user_name: wallos
wallos_user_id: 220
wallos_user_shell: /usr/sbin/nologin

## NGINX variables
nginx_conf_files:
  - filename: wallos.conf
    path: templates/nginx.wallos.conf

## Wallos variables
wallos_docker_name: wallos
wallos_image_version: v4.6.0

## Proxmox variables
proxmox_snapshot_vmid: 20220
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: wallos
docker_project_src: /opt/wallos
