networks:
  gitea:
    external: false

services:
  gitea:
    container_name: {{ gitea_docker_name }}
    image: gitea/gitea:latest
    environment:
      # User configuration
      USER_UID: {{ nfs_user_id }}
      USER_GID: {{ nfs_user_id }}

      # Database configuration
      GITEA__database__DB_TYPE: postgres
      GITEA__database__HOST: postgres:5432
      GITEA__database__NAME: giteadb
      GITEA__database__USER: gitea
      GITEA__database__PASSWD: {{ gitea_postgres_pass }}

      # Server configrations
      GITEA__server__DOMAIN: {{ ansible_host }}
      GITEA__server__ROOT_URL: https://{{ ansible_host }}
      GITEA__service__DISABLE_REGISTRATION: true
      GITEA__service__DEFAULT_KEEP_EMAIL_PRIVATE: true
      GITEA__service__ENABLE_NOTIFY_MAIL: true
      GITEA__service__NO_REPLY_ADDRESS: git.tinynamoo.com

      # Mail configuration
      GITEA__mailer__ENABLED: true
      GITEA__mailer__FROM: sunny@mail.tinynamoo.com
      GITEA__mailer__PROTOCOL: {{ gitea_smtp_protocol }}
      GITEA__mailer__SMTP_ADDR: {{ gitea_smtp_host }}
      GITEA__mailer__SMTP_PORT: {{ gitea_smtp_port }}
      GITEA__mailer__USER: {{ gitea_smtp_username }}
      GITEA__mailer__PASSWD: {{ gitea_smtp_proton_token }}

      # Git LFS
      GITEA__server__LFS_START_SERVER: true
      GITEA__server__LFS_JWT_SECRET: {{ gitea_lfs_jwt }}
      GITEA__lfs__PATH: /data/lfs

      # Logging
      GITEA__log__MODE: file
      GITEA__log__LEVEL: info
      GITEA__log__ROOT_PATH: /data/logs
      GITEA__log__MAX_DAYS: 30

      # Indexer
      GITEA__indexer__REPO_INDEXER_ENABLED: true
      GITEA__indexer__REPO_INDEXER_PATH: indexers/repos.bleve
      GITEA__indexer__MAX_FILE_SIZE: 1048576
      GITEA__indexer__REPO_INDEXER_INCLUDE:
      GITEA__indexer__REPO_INDEXER_EXCLUDE: resources/bin/**

      # Reverse Proxy
      GITEA__security__REVERSE_PROXY_LIMIT: 1
      GITEA__security__REVERSE_PROXY_TRUSTED_PROXIES: 127.0.0.1/8;172.17.0.0/16

      # Security Configurations
      GITEA__security__INSTALL_LOCK: true
      GITEA__security__SECRET_KEY: {{ gitea_secret_key }}
      GITEA__security__INTERNAL_TOKEN: {{ gitea_internal_token }}
      GITEA__security__PASSWORD_HASH_ALGO: argon2

      # Oauth2 configurations
      GITEA__oauth2__JWT_SECRET: {{ gitea_oauth2_jwt }}
    restart: unless-stopped
    networks:
      - gitea
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/gitea/data:/data/gitea
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/gitea/logs:/data/logs
      - {{ nfs_mounts.yena.mount_point }}/gitea/repos:/data/git/repositories
      - {{ nfs_mounts.yena.mount_point }}/gitea/lfs:/data/lfs
      - /home/gitea/.ssh:/data/git/.ssh
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "127.0.0.1:2222:22"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: gitea
      POSTGRES_PASSWORD: {{ gitea_postgres_pass }}
      POSTGRES_DB: giteadb
    networks:
      - gitea
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/gitea/db:/var/lib/postgresql/data
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
