# @format

# Piped
# Install and configure Piped youtube proxy server.
---
- name: Ensure piped user is present
  become: true
  block:
    - name: Ensure piped group is present
      ansible.builtin.group:
        name: "{{ piped_user_name }}"
        gid: "{{ piped_user_id }}"
        system: true
        state: present

    - name: Ensure piped user is present
      ansible.builtin.user:
        name: "{{ piped_user_name }}"
        group: "{{ piped_user_name }}"
        password: "*"
        shell: "{{ piped_user_shell }}"
        create_home: false
        uid: "{{ piped_user_id }}"
        state: present

- name: Setup piped application files
  become: true
  block:
    - name: Ensure application directory is present
      ansible.builtin.file:
        path: "{{ docker_project_src }}"
        owner: "{{ piped_user_name }}"
        group: "{{ piped_user_name }}"
        mode: "0750"
        state: directory

    - name: Copy docker compose file to server
      ansible.builtin.template:
        src: templates/app.docker-compose.yaml
        dest: "{{ docker_project_src }}/docker-compose.yaml"
        owner: "{{ piped_user_name }}"
        group: "{{ piped_user_name }}"
        mode: "0640"

    - name: Create application config directory
      ansible.builtin.file:
        path: "{{ docker_project_src }}/config"
        owner: "{{ piped_user_name }}"
        group: "{{ piped_user_name }}"
        mode: "0750"
        state: directory

    - name: Copy configuration files to server
      ansible.builtin.template:
        src: templates/app.{{ item }}
        dest: "{{ docker_project_src }}/config/{{ item }}"
        owner: "{{ piped_user_name }}"
        group: "{{ piped_user_name }}"
        mode: "0640"
      loop:
        - config.properties
        - nginx.conf
        - pipedapi.conf
        - pipedfrontend.conf
        - pipedproxy.conf
        - ytproxy.conf

- name: Install and configure nginx
  vars:
    debian_common_task_list:
      - nginx
    nginx_tls_domains:
      - "{{ piped_frontend_hostname }}"
      - "{{ piped_backend_hostname }}"
      - "{{ piped_proxy_hostname }}"
  ansible.builtin.include_role:
    name: debian-common

- name: Start Piped youtube proxy
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ docker_project_name }}"
    project_src: "{{ docker_project_src }}"
    state: present
