# @format

# Vikunja
# Upgrade Vikunja tasks mangement server
---
- name: Check if vikunja requires update
  become: true
  block:
    - name: Get current vikunja container version
      ansible.builtin.import_role:
        name: docker
        public: false
      vars:
        docker_task_list: get_container_image_version
        docker_container_name: "{{ vikunja_docker_name }}"
        docker_fact_name: vikunja

    - name: Fix application docker image versionings in fact
      ansible.builtin.set_fact:
        vikunja_image_version: "v{{ vikunja_image_version }}"

    - name: Get latest vikunja container release from github
      become: false
      community.general.github_release:
        user: go-vikunja
        repo: vikunja
        action: latest_release
      delegate_to: localhost
      register: vikunja_github_release

    - name: Extract latest vikunja container version
      ansible.builtin.set_fact:
        vikunja_latest_version: "{{ vikunja_github_release.tag }}"

    - name: Stop play if vikunja has no updates
      ansible.builtin.meta: end_play
      when: vikunja_image_version == vikunja_latest_version

- name: Take snapshot of Proxmox instance
  ansible.builtin.import_role:
    name: proxmox
    public: false
  vars:
    proxmox_task_list: snapshot
    proxmox_snapshot_name: "{{ 'pre_upgrade_' + (vikunja_image_version | regex_replace('[.]', '-')) }}"
    proxmox_snapshot_description: "[Ansible] Working snapshot of vikunja {{ vikunja_image_version }} before upgrading to {{ vikunja_latest_version }}"
  delegate_to: localhost

- name: Upgrade Vikunja tasks management server
  become: true
  block:
    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Update & start Vikunja docker containers
      become: true
      community.docker.docker_compose_v2:
        project_name: "{{ docker_project_name }}"
        project_src: "{{ docker_project_src }}"
        remove_orphans: true
        pull: always
        state: present

    - name: Prune unused docker objects
      community.docker.docker_prune:
        builder_cache_all: true
        containers: true
        images: true
        networks: true
        volumes: true
