# @format

# Homarr
# Install and configure Homarr dashboard server.
---
- name: Ensure homarr user is present
  become: true
  block:
    - name: Ensure homarr group is present
      ansible.builtin.group:
        name: "{{ homarr_user_name }}"
        gid: "{{ homarr_user_id }}"
        system: true
        state: present

    - name: Ensure homarr user is present
      ansible.builtin.user:
        name: "{{ homarr_user_name }}"
        group: "{{ homarr_user_name }}"
        password: "*"
        shell: "{{ homarr_user_shell }}"
        create_home: false
        uid: "{{ homarr_user_id }}"
        state: present

- name: Setup homarr application files
  become: true
  block:
    - name: Ensure application directory is present
      ansible.builtin.file:
        path: "{{ docker_project_src }}"
        owner: "{{ homarr_user_name }}"
        group: "{{ homarr_user_name }}"
        mode: "0750"
        state: directory

    - name: Setup docker-compose file
      ansible.builtin.template:
        src: templates/app.docker-compose.yaml
        dest: "{{ docker_project_src }}/docker-compose.yaml"
        owner: "{{ homarr_user_name }}"
        group: "{{ homarr_user_name }}"
        mode: "0640"

- name: Install and configure nginx
  vars:
    debian_common_task_list:
      - nginx
    nginx_tls_domains:
      - "{{ ansible_host }}"
  ansible.builtin.include_role:
    name: debian-common

- name: Get latest homarr container release from github
  community.general.github_release:
    user: homarr-labs
    repo: homarr
    action: latest_release
  delegate_to: localhost
  register: homarr_github_release

- name: Extract latest homarr container version
  ansible.builtin.set_fact:
    homarr_latest_version: "{{ homarr_github_release.tag }}"

- name: Start homarr docker containers
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ docker_project_name }}"
    project_src: "{{ docker_project_src }}"
    state: present
  register: docker_containers_started

- name: Set version file
  become: true
  ansible.builtin.template:
    src: templates/app.VERSION
    dest: "{{ docker_project_src }}/VERSION"
    owner: "{{ homarr_user_name }}"
    group: "{{ homarr_user_name }}"
    mode: "0640"
  when: docker_containers_started.changed
