# @format

# Homarr
# Upgrade Homarr dashboard server
---
- name: Check if homarr requires update
  become: true
  block:
    - name: Get homarr version file
      ansible.builtin.slurp:
        src: "{{ docker_project_src }}/VERSION"
      register: version_file

    - name: Extract version information
      ansible.builtin.set_fact:
        homarr_image_version: "{{ version_file['content'] | b64decode | trim }}"

    - name: Get latest homarr container release from github
      become: false
      community.general.github_release:
        user: homarr-labs
        repo: homarr
        action: latest_release
      delegate_to: localhost
      register: homarr_github_release

    - name: Extract latest homarr container version
      ansible.builtin.set_fact:
        homarr_latest_version: "{{ homarr_github_release.tag }}"

    - name: Stop play if homarr has no updates
      ansible.builtin.meta: end_play
      when: homarr_image_version == homarr_latest_version

- name: Take snapshot of Proxmox instance
  ansible.builtin.import_role:
    name: proxmox
    public: false
  vars:
    proxmox_task_list: snapshot
    proxmox_snapshot_name: "{{ 'pre_upgrade_homarr_' + (homarr_image_version | regex_replace('[.]', '-')) }}"
    proxmox_snapshot_description: "[Ansible] Working snapshot of homarr {{ homarr_image_version }} before upgrading to {{ homarr_latest_version }}"
  delegate_to: localhost

- name: Upgrade homarr movies management server
  become: true
  block:
    - name: Update apt cache, upgrade packages and remove unused dependencies
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
        purge: true

    - name: Ensure docker compose file is updated
      ansible.builtin.template:
        src: templates/app.docker-compose.yaml
        dest: "{{ docker_project_src }}/docker-compose.yaml"
        owner: "{{ homarr_user_name }}"
        group: "{{ homarr_user_name }}"
        mode: "0640"

    - name: Update & start homarr container
      become: true
      community.docker.docker_compose_v2:
        project_name: "{{ docker_project_name }}"
        project_src: "{{ docker_project_src }}"
        remove_orphans: true
        pull: always
        state: present
      register: docker_containers_updated

    - name: Prune unused docker objects
      community.docker.docker_prune:
        builder_cache_all: true
        containers: true
        images: true
        networks: true
        volumes: true

    - name: Update version file
      ansible.builtin.template:
        src: templates/app.VERSION
        dest: "{{ docker_project_src }}/VERSION"
        owner: "{{ homarr_user_name }}"
        group: "{{ homarr_user_name }}"
        mode: "0640"
      when: docker_containers_updated.changed
