services:
  vikunja:
    container_name: {{ vikunja_docker_name }}
    image: vikunja/vikunja
    environment:
      VIKUNJA_DATABASE_HOST: db
      VIKUNJA_DATABASE_PASSWORD: {{ vikunja_database_password }}
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_USER: vikunja
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_SERVICE_JWTSECRET: "{{ vikunja_service_jwtsecret }}"
      VIKUNJA_REDIS_ENABLED: 1
      VIKUNJA_REDIS_HOST: redis:6379
      VIKUNJA_CACHE_ENABLED: 1
      VIKUNJA_CACHE_TYPE: 1
    ports:
      - 3456:3456
    volumes:
      - {{ nfs_mounts.tiffany.mount_point }}/vikunja/files:/app/vikunja/files
      - ./config.yaml:/etc/vikunja/config.yaml
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped

  db:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: {{ vikunja_database_password }}
      POSTGRES_USER: vikunja
      POSTGRES_DB: vikunja
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/vikunja/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "vikunja"]
      interval: 2s
      timeout: 20s
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped

  redis:
    container_name: redis
    image: redis
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
    restart: unless-stopped
