services:
  wikijs:
    container_name: {{ wikijs_docker_name }}
    image: lscr.io/linuxserver/wikijs:latest
    environment:
      DB_TYPE: postgres
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: wikijs
      DB_PASS: {{ wikijs_postgres_pass }}
      DB_NAME: wikijs
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/wikijs/config:/config
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/wikijs/data:/data
      - {{ nfs_mounts.winter.mount_point }}/wikijs/backups:/backups
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/wikijs/git:/wiki/git
      - /home/{{ nfs_user_name }}/.ssh/id_ed25519:/wiki/.ssh/id_ed25519
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: wikijs
      POSTGRES_PASSWORD: {{ wikijs_postgres_pass }}
      POSTGRES_USER: wikijs
    logging:
      driver: "none"
    restart: unless-stopped
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/wikijs/db:/var/lib/postgresql/data
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
