[Unit]
Description=Daily zfs backups pull from &i

[Timer]
# Execute at the 20th minute hourly
OnCalendar=*-*-* *:20:00
Persistent=true

[Install]
WantedBy=timers.target