[Unit]
Description=Daily zfs backups pull from &i

[Timer]
# Execute at the 15th minute hourly
OnCalendar=*-*-* *:15:00
Persistent=true

[Install]
WantedBy=timers.target