services:
  sonarr:
    container_name: {{ sonarr_docker_name }}
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ nfs_mounts.marilyn.mount_point }}:/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/sonarr/config:/config
    ports:
      - "8989:8989"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  sonarr4k:
    container_name: {{ sonarr_docker_name }}4k
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ nfs_mounts.marilyn.mount_point }}:/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/sonarr4k/config:/config
    ports:
      - "8990:8989"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  sonarr-anime:
    container_name: {{ sonarr_docker_name }}-anime
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      PUID: {{ nfs_user_id }}
      PGID: {{ nfs_user_id }}
      TZ: {{ debian_datetime_timezone }}
      UMASK: 007
    volumes:
      - {{ nfs_mounts.marilyn.mount_point }}:/data
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/sonarr-anime/config:/config
    ports:
      - "8991:8989"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  recyclarr:
    container_name: {{ recyclarr_docker_name }}
    image: ghcr.io/recyclarr/recyclarr:latest
    environment:
      TZ: {{ debian_datetime_timezone }}
    volumes:
      - {{ debian_additional_disks["appdata"]["mount_point"] }}/recyclarr/config:/config
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    depends_on:
      - sonarr
      - sonarr4k
      - sonarr-anime

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_DB: sonarr-main
      POSTGRES_USER: sonarr
      POSTGRES_PASSWORD: {{ sonarr_postgres_pass }}
    volumes:
      - {{ debian_additional_disks["postgres"]["mount_point"] }}/sonarr/db:/var/lib/postgresql/data
    user: {{ nfs_user_id }}:{{ nfs_user_id }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER -d sonarr-main"]
      interval: 2s
      timeout: 20s
