# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.10.1

# User
debian_user_name: serene
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFJciD1T2avmVzNaj99C0L2H3gpfznCPiZdNLw+6tOgv serene@status.tinynamoo.com"

uptime_kuma_user_name: uptime-kuma
uptime_kuma_user_id: 290
uptime_kuma_user_shell: /usr/sbin/nologin

## NGINX variables
nginx_conf_files:
  - filename: uptime-kuma.conf
    path: templates/nginx.uptime-kuma.conf

## Uptime kuma variables
uptime_kuma_docker_name: uptime-kuma

## Proxmox variables
proxmox_snapshot_vmid: 10120
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Docker variables
docker_project_name: uptime-kuma
docker_project_src: /opt/uptime-kuma
