# @format
---
## debian-13-setup variables
# Datetime
debian_datetime_ntp_server: 172.28.10.1

# User
debian_user_name: seori
debian_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILf0cCNktgr1pTFDrlikgYX9q/JGAvhrWA3OobQZKnfq seori@storage.tinynamoo.com"

## NFSv4 variables
# Kerberos
nfs_krb5_host_keytab_file: "/mnt/veracrypt2/Kerberos Keytabs/[Seori] NAS/host.keytab"

# Exports
nfs_exports:
  - src: /aspen/alora/
    dest: /export/alora
  - src: /aspen/alyssa/
    dest: /export/alyssa
  - src: /aspen/daisy/
    dest: /export/daisy
  - src: /aspen/marilyn/
    dest: /export/marilyn
  - src: /aspen/marilyn/configs
    dest: /export/marilyn/configs
  - src: /aspen/marilyn/configs/bazarr/
    dest: /export/marilyn-configs-bazarr
  - src: /aspen/marilyn/configs/bazarr4k/
    dest: /export/marilyn-configs-bazarr4k
  - src: /aspen/marilyn/configs/bazarr-anime/
    dest: /export/marilyn-configs-bazarr-anime
  - src: /aspen/marilyn/configs/prowlarr/
    dest: /export/marilyn-configs-prowlarr
  - src: /aspen/marilyn/media/
    dest: /export/marilyn-media
  - src: /aspen/petal/
    dest: /export/petal
  - src: /aspen/stevie/
    dest: /export/stevie
  - src: /aspen/tiffany/
    dest: /export/tiffany
  - src: /aspen/wendy/
    dest: /export/wendy
  - src: /aspen/winter/
    dest: /export/winter
  - src: /aspen/yena/
    dest: /export/yena

## Proxmox variables
proxmox_snapshot_vmid: 10100
proxmox_snapshot_retention: 3
proxmox_snapshot_include_ram: false

## Scrutiny variables
scrutiny_spoke_docker_name: scrutiny-spoke
scrutiny_spoke_project_src: /opt/scrutiny-spoke

scrutiny_spoke_collector_host_id: "[Seori] NAS"
scrutiny_spoke_collector_cron: "*/15 * * * *" # Every 15 minutes

scrutiny_spoke_enable_scsi: true
